/*CSS document*/
body{
background: #B8AFB8;
border-top: 5px solid #751975;
margin: 0;
font-family: "helvetica", sans serif;
text-align: center;
}

.container {
background: #fff;
border: 3px solid #751975;
width: 600px;
margin: 0 auto;
margin: 20px;
}

h1, h2, h3 {
margin: 0;
}

.Week {
border-bottom: 3px solid #000;
border-top: 3px solid #000;
margin: 10px 0 10px 0;
}

h1 {
color: #660066;
padding: 20px 15px;
background: #ccc;
}

h2 {
text-align: left;
padding: 10px 0 0 40px;
}

h3 {
padding: 0px 0 10px 0;
}

#sketches {
padding: 10px;
}

img:hover {
border: 1px solid #751975;
}
